<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<title>TUPA backup templates</title>
</head>
<body>




<!-- ###BACKUP_SHOW### begin -->
###REGISTER_NAVIGATION###
<!-- ###BACKUP_SHOW_BACKUP### begin -->
<!-- ###TAB_backupBackup### begin -->
<table cellpadding="0" cellspacing="0" class="form-table">
	<tr>
		<td colspan="2" class="###TITLE_STYLE###">###BACKUP_BACKUP_SUBTITLE###</td>
	</tr>
	<tr>
		<td class="###TEXT_STYLE###">###LABEL_USE_CONFIG###</td>
		<td>###INPUT_USE_CONFIG###</td>
	</tr>
	<tr>
		<td class="###TEXT_STYLE###">###LABEL_COMPRESSION###</td>
		<td>###SELECT_COMPRESSION###</td>
	</tr>
	<tr>
		<td colspan="2" class="###TITLE_STYLE###">###BACKUP_DUMP_OPTIONS_SUBTITLE###</td>
	</tr>
	<tr>
		<td class="###TEXT_STYLE###">###LABEL_DUMP_OPTION_DBCREATE###</td>
		<td>###INPUT_DUMP_OPTION_DBCREATE###</td>
	</tr>
	<tr>
		<td class="###TEXT_STYLE###">###LABEL_DUMP_OPTION_COMPLETEINSERT###</td>
		<td>###INPUT_DUMP_OPTION_COMPLETEINSERT###</td>
	</tr>
	<tr>
		<td class="###TEXT_STYLE###">###LABEL_DUMP_OPTION_EXTENDEDINSERT###</td>
		<td>###INPUT_DUMP_OPTION_EXTENDEDINSERT###</td>
	</tr>
	<tr>
		<td height="1" colspan="2"><img src="images/clear.gif" width="1" height="15" /></td>
	</tr>
	<tr>
		<td colspan="2">###SUBMIT_BUTTON### ###HIDDEN_FIELDS###</td>
	</tr>
	<tr>
		<td height="1" colspan="2"><img src="images/clear.gif" width="1" height="20" /></td>
	</tr>
</table>
<!-- ###TAB_backupBackup### end -->
<!-- ###BACKUP_SHOW_BACKUP### end -->
<!-- ###BACKUP_SHOW_RESTORE### begin -->
<!-- ###TAB_backupRestore### begin -->
<table cellpadding="0" cellspacing="0" class="form-table">	
	<tr>
		<td class="###TEXT_STYLE###" colspan="2">###RESTORE_WARNING###</td>
	</tr>
	<tr>
		<td colspan="2" class="###TITLE_STYLE###">###BACKUP_RESTORE_LOCAL_SUBTITLE###</td>
	</tr>
	<tr>
		<td class="###TEXT_STYLE###">###LABEL_RESTORE_LOCAL###</td>
		<td>###SELECT_RESTORE_LOCAL###</td>
	</tr>
	<tr>
		<td colspan="2" class="###TITLE_STYLE###">###BACKUP_RESTORE_REMOTE_SUBTITLE###</td>
	</tr>
	<tr>
		<td class="###TEXT_STYLE###">###LABEL_RESTORE_REMOTE###</td>
		<td>###SELECT_RESTORE_REMOTE###</td>
	</tr>
	<tr>
		<td colspan="2" class="###TITLE_STYLE###">###BACKUP_RESTORE_FILE_SUBTITLE###</td>
	</tr>
	<tr>
		<td class="###TEXT_STYLE###">###LABEL_RESTORE_FILE###</td>
		<td>###INPUT_RESTORE_FILE###</td>
	</tr>
	<tr>
		<td height="1" colspan="2"><img src="images/clear.gif" width="1" height="15" /></td>
	</tr>
	<tr>
		<td colspan="2">###SUBMIT_BUTTON### ###HIDDEN_FIELDS###</td>
	</tr>
	<tr>
		<td height="1" colspan="2"><img src="images/clear.gif" width="1" height="20" /></td>
	</tr>
</table>
<!-- ###TAB_backupRestore### end -->
<!-- ###BACKUP_SHOW_RESTORE### end -->
<!-- ###BACKUP_SHOW_CONFIG### begin -->
<!-- ###TAB_backupConfig### begin -->
<table cellpadding="0" cellspacing="0" class="form-table">
	<tr>
		<td colspan="2" class="###TITLE_STYLE###">###BACKUP_CONFIG_SUBTITLE###</td>
	</tr>
	<tr>
		<td class="###TEXT_STYLE###">###LABEL_NOTIFICATION_EMAIL###</td>
		<td>###INPUT_NOTIFICATION_EMAIL###</td>
	</tr>
	<tr>
		<td class="###TEXT_STYLE###">###LABEL_COMPRESSION###</td>
		<td>###SELECT_COMPRESSION###</td>
	</tr>
	<tr>
		<td class="###TEXT_STYLE###">###LABEL_SAVE_BACKUP###</td>
		<td>###SELECT_SAVE_BACKUP###</td>
	</tr>
	<tr>
		<td class="###TEXT_STYLE###">###LABEL_BACKUP_SCHEDULE###</td>
		<td>###SELECT_BACKUP_SCHEDULE###</td>
	</tr>
	<tr>
		<td colspan="2" class="###TITLE_STYLE###">###BACKUP_DUMP_OPTIONS_SUBTITLE###</td>
	</tr>
	<tr>
		<td class="###TEXT_STYLE###">###LABEL_DUMP_OPTION_DBCREATE###</td>
		<td>###INPUT_DUMP_OPTION_DBCREATE###</td>
	</tr>
	<tr>
		<td class="###TEXT_STYLE###">###LABEL_DUMP_OPTION_COMPLETEINSERT###</td>
		<td>###INPUT_DUMP_OPTION_COMPLETEINSERT###</td>
	</tr>
	<tr>
		<td class="###TEXT_STYLE###">###LABEL_DUMP_OPTION_EXTENDEDINSERT###</td>
		<td>###INPUT_DUMP_OPTION_EXTENDEDINSERT###</td>
	</tr>
	<tr>
		<td colspan="2" class="###TITLE_STYLE###">###BACKUP_CONFIG_LOCAL_SUBTITLE###</td>
	</tr>
	<tr>
		<td class="###TEXT_STYLE###">###LABEL_LOCAL_PATH###</td>
		<td>###INPUT_LOCAL_PATH###</td>
	</tr>
	<tr>
		<td class="###TEXT_STYLE###">###LABEL_LOCAL_AMOUNT###</td>
		<td>###INPUT_LOCAL_AMOUNT###</td>
	</tr>
	<tr>
		<td class="###TEXT_STYLE###">###LABEL_LOCAL_DAYS###</td>
		<td>###INPUT_LOCAL_DAYS###</td>
	</tr>
	<tr>
		<td class="###TEXT_STYLE###">###LABEL_LOCAL_SIZE###</td>
		<td>###INPUT_LOCAL_SIZE###</td>
	</tr>
	<tr>
		<td colspan="2" class="###TITLE_STYLE###">###BACKUP_CONFIG_REMOTE_SUBTITLE###</td>
	</tr>
	<tr>
		<td class="###TEXT_STYLE###">###LABEL_PROTOCOL###</td>
		<td>###SELECT_PROTOCOL###</td>
	</tr>
	<tr>
		<td class="###TEXT_STYLE###">###LABEL_PASSIVE###</td>
		<td>###INPUT_PASSIVE###</td>
	</tr>
	<tr>
		<td class="###TEXT_STYLE###">###LABEL_SSH_FINGERPRINT###</td>
		<td>###INPUT_SSH_FINGERPRINT###</td>
	</tr>
	<tr>
		<td class="###TEXT_STYLE###">###LABEL_HOSTPORT###</td>
		<td>###INPUT_HOST###&nbsp;###INPUT_PORT###</td>
	</tr>
	<tr>
		<td class="###TEXT_STYLE###" valign="top">###LABEL_USERNAME###</td>
		<td>###INPUT_USERNAME###</td>
	</tr>
	<tr>
		<td class="###TEXT_STYLE###" valign="top">###LABEL_PASSWORD###</td>
		<td>###INPUT_PASSWORD###</td>
	</tr>
	<tr>
		<td class="###TEXT_STYLE###" valign="top">###LABEL_REMOTE_PATH###</td>
		<td>###INPUT_REMOTE_PATH###</td>
	</tr>
	<tr>
		<td class="###TEXT_STYLE###">###LABEL_REMOTE_AMOUNT###</td>
		<td>###INPUT_REMOTE_AMOUNT###</td>
	</tr>
	<tr>
		<td class="###TEXT_STYLE###">###LABEL_REMOTE_DAYS###</td>
		<td>###INPUT_REMOTE_DAYS###</td>
	</tr>
	<tr>
		<td class="###TEXT_STYLE###">###LABEL_REMOTE_SIZE###</td>
		<td>###INPUT_REMOTE_SIZE###</td>
	</tr>
	<tr>
		<td height="1" colspan="2"><img src="images/clear.gif" width="1" height="15" /></td>
	</tr>
	<tr>
		<td colspan="2">###SUBMIT_BUTTON### ###HIDDEN_FIELDS###</td>
	</tr>
	<tr>
		<td height="1" colspan="2"><img src="images/clear.gif" width="1" height="20" /></td>
	</tr>
</table>
<!-- ###TAB_backupConfig### end -->
<!-- ###BACKUP_SHOW_CONFIG### end -->
<!-- ###BACKUP_SHOW### end -->






</body>
</html>