<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<title>TUPA general templates</title>
</head>
<body>




<!-- ###GENERAL_SHOW_SEARCH### begin -->
<table width="100%" cellspacing="0" cellpadding="0">
	<tr>
		<td>###SEARCH_FORM###</td>
		<td align="right">###OTHER_BUTTONS###</td>
	</tr>
</table>
<!-- ###GENERAL_SHOW_SEARCH### end -->



<!-- ###GENERAL_SHOW### begin -->
###NAVIGATION###
<table cellpadding="0" cellspacing="0" border="0" width="100%" class="table-show">
	<tr class="table-header">
		<!-- ###GENERAL_COL_HEADER### begin -->
		<td class="###HEADER_CLASS###">###HEADER###</td>
		<!-- ###GENERAL_COL_HEADER### end -->
	</tr>
	<!-- ###GENERAL_SHOW_SINGLE### begin -->
	<tr onmouseover="this.className='table-row-ro'" onmouseout="this.className='table-row###COLOR_NUM###'" ###ONDBLCLICK### class="table-row###COLOR_NUM###">
		<!-- ###GENERAL_SHOW_SINGLE_CELL### begin -->
		<td class="###CELL_CLASS###">###CELL###</td>
		<!-- ###GENERAL_SHOW_SINGLE_CELL### end -->
	</tr>
	<!-- ###GENERAL_SHOW_SINGLE### end -->
	<tr>
		<td height="1" colspan="6"><img src="images/clear.gif" width="1" height="20" /></td>
	</tr>
</table>
<!-- ###GENERAL_SHOW### end -->






</body>
</html>