<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<title>TUPA logging templates</title>
</head>
<body>




<!-- ###LOGGING_SHOW_FILTER### begin -->
<table cellpadding="0" cellspacing="0" width="100%" class="form-table">
	<tr>
		<td colspan="4" class="###TITLE_STYLE###">###LOG_FILTER_SUBTITLE###</td>
	</tr>
	<tr>
		<td width="20%" class="###TEXT_STYLE###">###LABEL_FILTER_GROUP###</td>
		<td width="30%">###SELECT_FILTER_GROUP###</td>
		<td width="20%"class="###TEXT_STYLE###">###LABEL_FILTER_USER###</td>
		<td width="30%">###SELECT_FILTER_USER###</td>
	</tr>
	<tr>
		<td class="###TEXT_STYLE###">###LABEL_FILTER_PART###</td>
		<td>###SELECT_FILTER_PART###</td>
		<td class="###TEXT_STYLE###">###LABEL_FILTER_TYPE###</td>
		<td>###SELECT_FILTER_TYPE###</td>
	</tr>
	<tr>
		<td class="###TEXT_STYLE###">###LABEL_FILTER_DATE###</td>
		<td>###INPUT_FILTER_DATE###</td>
		<td class="###TEXT_STYLE###">###LABEL_FILTER_MAX###</td>
		<td>###SELECT_FILTER_MAX###</td>
	</tr>
	<tr>
		<td class="###TEXT_STYLE###">###LABEL_FILTER_MESSAGE###</td>
		<td>###INPUT_FILTER_MESSAGE###</td>
		<td class="###TEXT_STYLE###">###LABEL_REFRESH###</td>
		<td>###SELECT_REFRESH###</td>
	</tr>
	<tr>
		<td colspan="4" align="right">###FILTER_SUBMIT###</td>
	</tr>
</table>
<!-- ###LOGGING_SHOW_FILTER### end -->



<!-- ###LOGGING_SHOW### begin -->
###NAVIGATION###
<table cellpadding="0" cellspacing="0" width="100%" class="form-table">
	<!-- ###LOGGING_SHOW_DATE### begin -->
	<tr>
		<td colspan="6" height="30" valign="bottom" class="###TEXT_STYLE###"><strong>###LOG_DATE###</strong></td>
	</tr>
	<!-- ###LOGGING_SHOW_DATE### end -->
	<!-- ###LOGGING_SHOW_COL_TITLES### begin -->
	<tr>
		<td class="###TITLE_STYLE###">###LOG_COL_TIME###</td>
		<td class="###TITLE_STYLE###">###LOG_COL_USER###</td>
		<td class="###TITLE_STYLE###">###LOG_COL_PART###</td>
		<td class="###TITLE_STYLE###">###LOG_COL_ACTION###</td>
		<td class="###TITLE_STYLE###">###LOG_COL_TYPE###</td>
		<td class="###TITLE_STYLE###">###LOG_COL_MESSAGE###</td>
	</tr>
	<!-- ###LOGGING_SHOW_COL_TITLES### end -->
	<!-- ###LOGGING_SHOW_SINGLE### begin -->
	<tr>
		<td class="###TEXT_STYLE###">###LOG_TIME###</td>
		<td class="###TEXT_STYLE###">###LOG_USER###</td>
		<td class="###TEXT_STYLE###">###LOG_PART###</td>
		<td class="###TEXT_STYLE###">###LOG_ACTION###</td>
		<td class="###TEXT_STYLE###">###LOG_TYPE###</td>
		<td class="###TEXT_STYLE###">###LOG_MESSAGE###</td>
	</tr>
	<!-- ###LOGGING_SHOW_SINGLE### end -->
	<tr>
		<td><img src="images/clear.gif" width="1" height="10" /></td>
	</tr>
</table>
###NAVIGATION###
<img src="images/clear.gif" width="1" height="20" />
<!-- ###LOGGING_SHOW### end -->






</body>
</html>