<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<title>TUPA preferences templates</title>
</head>
<body>




<!-- ###PREFS_EDIT### begin -->
###REGISTER_NAVIGATION###
<!-- ###PREFS_GENERAL### begin -->
<!-- ###TAB_prefsGeneral### begin -->
<table cellpadding="0" cellspacing="0" class="form-table">
	<tr>
		<td colspan="2" class="###TITLE_STYLE###">###PREFS_GENERAL_SUBTITLE###</td>
	</tr>
	<tr>
		<td class="###TEXT_STYLE###">###LABEL_LANGUAGE###</td>
		<td>###SELECT_LANGUAGE###</td>
	</tr>
	<tr>
		<td class="###TEXT_STYLE###">###LABEL_SKIN###</td>
		<td>###SELECT_SKIN###</td>
	</tr>
	<tr>
		<td class="###TEXT_STYLE###">###LABEL_START_PAGE###</td>
		<td>###SELECT_START_PAGE###</td>
	</tr>
	<tr>
		<td class="###TEXT_STYLE###">###LABEL_HELP_DISPLAY###</td>
		<td>###SELECT_HELP_DISPLAY###</td>
	</tr>
	<tr>
		<td class="###TEXT_STYLE###" valign="top">###LABEL_ROWS_PER_SITE###</td>
		<td>###INPUT_ROWS_PER_SITE###</td>
	</tr>
	<tr>
		<td class="###TEXT_STYLE###" valign="top">###LABEL_NAVI_SHOW_PAGES###</td>
		<td>###INPUT_NAVI_SHOW_PAGES###</td>
	</tr>
	<tr>
		<td class="###TEXT_STYLE###" valign="top">###LABEL_SOA_PRIMARY###</td>
		<td>###INPUT_SOA_PRIMARY###</td>
	</tr>
	<tr>
		<td height="1" colspan="2"><img src="images/clear.gif" width="1" height="15" /></td>
	</tr>
</table>
<!-- ###TAB_prefsGeneral### end -->
<!-- ###PREFS_GENERAL### end -->
<!-- ###PREFS_LOGGING### begin -->
<!-- ###TAB_prefsLogging### begin -->
<table cellpadding="0" cellspacing="0" class="form-table">
	<tr>
		<td colspan="2" class="###TITLE_STYLE###">###PREFS_LOGGING_SUBTITLE###</td>
	</tr>
	<tr>
		<td class="###TEXT_STYLE###">###LABEL_LOGGING_MAX###</td>
		<td>###SELECT_LOGGING_MAX###</td>
	</tr>
	<tr>
		<td height="1" colspan="2"><img src="images/clear.gif" width="1" height="15" /></td>
	</tr>
</table>
<!-- ###TAB_prefsLogging### end -->
<!-- ###PREFS_LOGGING### end -->
<!-- ###TAB_prefsPersonal### begin -->
<table cellpadding="0" cellspacing="0" class="form-table">
	<tr>
		<td colspan="2" class="###TITLE_STYLE###">###PREFS_PERSONAL_SUBTITLE###</td>
	</tr>
	<tr>
		<td class="###TEXT_STYLE###" valign="top">###LABEL_NAME###</td>
		<td>###INPUT_NAME###</td>
	</tr>
	<tr>
		<td class="###TEXT_STYLE###" valign="top">###LABEL_FIRSTNAME###</td>
		<td>###INPUT_FIRSTNAME###</td>
	</tr>
	<tr>
		<td class="###TEXT_STYLE###" valign="top">###LABEL_EMAIL###</td>
		<td>###INPUT_EMAIL###</td>
	</tr>
	<tr>
		<td height="1" colspan="2"><img src="images/clear.gif" width="1" height="15" /></td>
	</tr>
</table>
<!-- ###TAB_prefsPersonal### end -->
<!-- ###TAB_prefsPassword### begin -->
<table cellpadding="0" cellspacing="0" class="form-table">
	<tr>
		<td colspan="2" class="###TITLE_STYLE###">###PREFS_PASSWORD_SUBTITLE###</td>
	</tr>
	<tr>
		<td class="###TEXT_STYLE###" valign="top">###LABEL_OLD_PASSWORD###</td>
		<td>###INPUT_OLD_PASSWORD###</td>
	</tr>
	<tr>
		<td class="###TEXT_STYLE###" valign="top">###LABEL_NEW_PASSWORD###</td>
		<td>###INPUT_NEW_PASSWORD###</td>
	</tr>
	<tr>
		<td class="###TEXT_STYLE###" valign="top">###LABEL_CONFIRM_PASSWORD###</td>
		<td>###INPUT_CONFIRM_PASSWORD###</td>
	</tr>
	<tr>
		<td height="1" colspan="2"><img src="images/clear.gif" width="1" height="15" /></td>
	</tr>
</table>
<!-- ###TAB_prefsPassword### end -->
<table cellpadding="0" cellspacing="0" class="form-table">
	<tr>
		<td colspan="2">###SUBMIT_BUTTON### ###HIDDEN_FIELDS###</td>
	</tr>
	<tr>
		<td height="1" colspan="2"><img src="images/clear.gif" width="1" height="20" /></td>
	</tr>
</table>
<!-- ###PREFS_EDIT### end -->






</body>
</html>