
<!-- ###TUPA_START### begin -->
<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	###META_GENERATOR###
	<title>###PAGE_TITLE###</title>
	###STYLE_SHEET###
	
	###JAVASCRIPT###
</head>

<body id="start-php">
###DIV_HELP_LAYER###
###DIV_PAGELOADER_TRANS###
###DIV_PAGELOADER_MSG###
###DIV_BG_TOP###
###DIV_BG_LEFT###
###DIV_BG_LOGO###
###DIV_LOGO###
###DIV_MENU###
###DIV_SYSINFO###
###DIV_CONTENT###
</body>
</html>
<!-- ###TUPA_START### end -->