<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<title>TUPA system templates</title>
</head>
<body>




<!-- ###SYSTEM### begin -->
###REGISTER_NAVIGATION###
<!-- ###SYSTEM_CONFIG### begin -->
<!-- ###TAB_systemConfig### begin -->
###PART_SELECTOR###
<!-- ###SINGLE### begin -->
<!-- ###HEADER### begin -->
<h2>###PART_HEADER###</h2>
<p class="###TEXT_STYLE###">###PART_CONTENT###</p>
<!-- ###HEADER### end -->
<!-- ###CONTENT### begin -->
<div class="box-border">
<h3>###PART_HEADER###</h3>
<p class="###TEXT_STYLE###">###PART_CONTENT###</p>
</div>
<!-- ###CONTENT### end -->
<!-- ###SINGLE### end -->
<p>###SAVE_CONFIG### ###HIDDEN_FIELDS###</p>
<!-- ###TAB_systemConfig### end -->
<!-- ###SYSTEM_CONFIG### end -->
<!-- ###SYSTEM_LANG_MANAGER### begin -->
<!-- ###TAB_systemLangManager### begin -->
<table cellpadding="0" cellspacing="0" width="100%" class="form-table">
	<tr>
		<td colspan="2">###BUTTON_GET_LANGS###</td>
	</tr>
	<tr>
		<td height="1" colspan="2"><img src="images/clear.gif" width="1" height="15" /></td>
	</tr>
	<tr>
		<td colspan="2" class="###TITLE_STYLE###">###TOOLS_LANG_INSTALLED_SUBTITLE###</td>
	</tr>
	<tr>
		<td colspan="2">
			<table cellpadding="0" cellspacing="0" class="table-show">
				<!-- ###INSTALLED_HEADERS### begin -->
				<tr class="###TABLE_HEADER###">
					<td>###LANG_NAME_TITLE###</td>
					<td>###LANG_LAST_CHANGE_TITLE###</td>
					<td>###LANG_LAST_REMOTE_CHANGE_TITLE###</td>
					<td>###LANG_COMP_VERSION_TITLE###</td>
					<td class="default-icon-width">&nbsp;</td>
					<td class="default-icon-width">&nbsp;</td>
				</tr>
				<!-- ###INSTALLED_HEADERS### end -->
				<!-- ###INSTALLED_LANG### begin -->
				<tr onmouseover="this.className='table-row-ro'" onmouseout="this.className='###ROW_CLASS###'" class="###ROW_CLASS###">
					<td>###LANG_NAME###</td>
					<td>###LANG_LAST_CHANGE###</td>
					<td>###LANG_LAST_REMOTE_CHANGE###</td>
					<td>###LANG_COMP_VERSION###</td>
					<td align="center">###LANG_UPDATE###</td>
					<td align="center">###LANG_REMOVE###</td>
				</tr>
				<!-- ###INSTALLED_LANG### end -->
			</table>
		</td>
	</tr>
	<tr>
		<td height="1" colspan="2"><img src="images/clear.gif" width="1" height="15" /></td>
	</tr>
	<tr>
		<td colspan="2" class="###TITLE_STYLE###">###TOOLS_LANG_AVAILABLE_SUBTITLE###</td>
	</tr>
	<tr>
		<td colspan="2">
			<table cellpadding="0" cellspacing="0" class="table-show">
				<!-- ###AVAILABLE_HEADERS### begin -->
				<tr class="###TABLE_HEADER###">
					<td>###LANG_NAME_TITLE###</td>
					<td>###LANG_LAST_CHANGE_TITLE###</td>
					<td>###LANG_COMP_VERSION_INSTALL_TITLE###</td>
					<td class="default-icon-width">&nbsp;</td>
				</tr>
				<!-- ###AVAILABLE_HEADERS### end -->
				<!-- ###AVAILABLE_LANG### begin -->
				<tr onmouseover="this.className='table-row-ro'" onmouseout="this.className='###ROW_CLASS###'" class="###ROW_CLASS###">
					<td>###LANG_NAME###</td>
					<td>###LANG_LAST_CHANGE###</td>
					<td>###LANG_COMP_VERSION###</td>
					<td align="center">###LANG_INSTALL###</td>
				</tr>
				<!-- ###AVAILABLE_LANG### end -->
			</table>
		</td>
	</tr>
	<tr>
		<td height="1" colspan="2"><img src="images/clear.gif" width="1" height="15" /></td>
	</tr>
</table>
<!-- ###TAB_systemLangManager### end -->
<!-- ###SYSTEM_LANG_MANAGER### end -->
<!-- ###SYSTEM_SKIN_MANAGER### begin -->
<!-- ###TAB_systemSkinManager### begin -->
<table cellpadding="0" cellspacing="0" width="100%" class="form-table">
	<tr>
		<td colspan="2">###BUTTON_GET_SKINS###</td>
	</tr>
	<tr>
		<td height="1" colspan="2"><img src="images/clear.gif" width="1" height="15" /></td>
	</tr>
	<tr>
		<td colspan="2" class="###TITLE_STYLE###">###TOOLS_SKIN_INSTALLED_SUBTITLE###</td>
	</tr>
	<tr>
		<td colspan="2">
			<table cellpadding="0" cellspacing="0" class="table-show">
				<!-- ###INSTALLED_HEADERS### begin -->
				<tr class="###TABLE_HEADER###">
					<td>###SKIN_NAME_TITLE###</td>
					<td>###SKIN_ID_TITLE###</td>
					<td>###SKIN_LAST_CHANGE_TITLE###</td>
					<td>###SKIN_LAST_REMOTE_CHANGE_TITLE###</td>
					<td class="default-icon-width">&nbsp;</td>
					<td class="default-icon-width">&nbsp;</td>
				</tr>
				<!-- ###INSTALLED_HEADERS### end -->
				<!-- ###INSTALLED_SKIN### begin -->
				<tr onmouseover="this.className='table-row-ro'" onmouseout="this.className='###ROW_CLASS###'" class="###ROW_CLASS###">
					<td>###SKIN_NAME###</td>
					<td>###SKIN_ID###</td>
					<td>###SKIN_LAST_CHANGE###</td>
					<td>###SKIN_LAST_REMOTE_CHANGE###</td>
					<td align="center">###SKIN_UPDATE###</td>
					<td align="center">###SKIN_REMOVE###</td>
				</tr>
				<!-- ###INSTALLED_SKIN### end -->
			</table>
		</td>
	</tr>
	<tr>
		<td height="1" colspan="2"><img src="images/clear.gif" width="1" height="15" /></td>
	</tr>
	<tr>
		<td colspan="2" class="###TITLE_STYLE###">###TOOLS_SKIN_AVAILABLE_SUBTITLE###</td>
	</tr>
	<tr>
		<td colspan="2">
			<table cellpadding="0" cellspacing="0" class="table-show">
				<!-- ###AVAILABLE_HEADERS### begin -->
				<tr class="###TABLE_HEADER###">
					<td>###SKIN_NAME_TITLE###</td>
					<td>###SKIN_ID_TITLE###</td>
					<td>###SKIN_LAST_CHANGE_TITLE###</td>
					<td class="default-icon-width">&nbsp;</td>
				</tr>
				<!-- ###AVAILABLE_HEADERS### end -->
				<!-- ###AVAILABLE_SKIN### begin -->
				<tr onmouseover="this.className='table-row-ro'" onmouseout="this.className='###ROW_CLASS###'" class="###ROW_CLASS###">
					<td>###SKIN_NAME###</td>
					<td>###SKIN_ID###</td>
					<td>###SKIN_LAST_CHANGE###</td>
					<td align="center">###SKIN_INSTALL###</td>
				</tr>
				<!-- ###AVAILABLE_SKIN### end -->
			</table>
		</td>
	</tr>
	<tr>
		<td height="1" colspan="2"><img src="images/clear.gif" width="1" height="15" /></td>
	</tr>
</table>
<!-- ###TAB_systemSkinManager### end -->
<!-- ###SYSTEM_SKIN_MANAGER### end -->
<!-- ###SYSTEM### end -->






</body>
</html>